.search {
	display: flex;
	justify-content: space-evenly;
}

.search .label {
	display: table-footer-group;
	font-size: 1rem;
	color: #111111;
	font-weight: bold;
}

.search-inputs {
	padding: 16px 24px;
}

.search-inputs:nth-child(1) {
	flex: 1.5 0 0%;
}

.search-inputs:nth-child(2),
.search-inputs:nth-child(3) {
	flex: 1 0 0%;
}

.search-inputs:nth-child(4) {
	flex: 0.85 0 0%;
}

.search-inputs input {
	border: none;
	display: block;
}

.search-inputs select {
	border: none;
	display: block;
}

.search-button {
	flex: 0 0 auto;
	padding: 8px 8px 8px 0;
	margin-top: -1%;
	margin-left: 5%
}

.search-button button {
	font-size: 16px;
	width: 48px;
	height: 48px;
	border-radius: 30px;
	border: none;
	background-color: #f58b5d;
	color: #fff;
	margin-top: 12%;
}